.container{
    border:190px soild black;
}

#add{
    background-color: green;
}

#sub{
    background-color: blue;
}

#mul{
    background-color: yellow;
}

#divide{
    background-color: orange;
}

#a{
    margin: 10px;
    color: green;
    background-color: blue;
}

#b{
    margin: 10px;
    color:red;
    background-color: yellow;
}